ol {
	width: 400px;
	margin: auto;
}

.instructionsModal {
	width: 98%;
	height: 135px;
    z-index: 1;
    position: absolute;
    background: rgba(7, 41, 155, 0.904);
    color: white;
    /* padding-top: 0; */
}

h4, li {
    font-family: Avenir;
}